/* Work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* shared style */
.btn-primary {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
}

/* Header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.Nav-title {
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}

.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    margin-bottom: 20px;
}

.banner-img {
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin: bottom 130px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-titel,
.Quick-list {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;

}

.teams-titel,
.of-Our {
    color: #131313;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}

.teams-titel,
.Feat {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-content,
.teams-description {
    width: 537px;
    color: #727272;
    font-weight: 400;
    margin-bottom: 32px;
}

/* fects style */

.fects-titel {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.fects-description {
    width: 537px;
    color: #727272;
    font-weight: 400;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 8px;
}
.facts-card-container .caerd {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-satts {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 3px;
}
/* resposive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container {
        flex-direction: column;

    }

    .teams-img-container {
        grid-template-columns:repeat(1, 1fr);

    }

    .teams-content ,
    .facts-card-container  {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablet or medium */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container ,
    .facts-card-container 
    {
        flex-direction: column;

    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content ,
    .facts-card-container 
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}